.task--bar{
    width:60vw;
    height:auto;
    min-height: 50vh;
    margin: 5px auto 0 auto;
    padding:90px 10px 10px 10px;
    border-radius: 5px;
    position: relative;
}
.task--add-btn{
    background:linear-gradient(140deg, rgba(102,101,244,1) 0%, rgba(141,73,173,1) 91%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border:none;
    width:70px;
    height:70px;
    color:white;
    font-size: 3.4rem;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    bottom:0;
    right:0;
    margin: 2%;
    z-index:5;
}
/*Task Bar*/
.task--drag-icon{
    position: absolute;
    margin:27px 15px 0 auto;
    right:0px;
    cursor:grab;
}
.task--comp-box{
    background-color: rgb(255, 255, 255);
    display:flex;
    height:auto;
    width:95%;
    margin:20px auto 20px auto;
    box-shadow: 0 10px 30px rgba(#414856, 0.05);
    border-radius: 5px;
    position: relative;
}

.task--comp-checkbox{
    position: relative;
    top:8px;
    align-items: stretch;
}
.task--comp-content{
    display: flex;
    max-width:70%;
    flex-direction: column;
    justify-content: flex-start;
    user-select: none;
}
.task--comp-top{
    display: flex;
}
.task--dropdown{
margin-top:4px !Important;
}
.task--comp-title{
    font-family: 'Inter', sans-serif;
    color:#474748;
    font-weight: 500;
    font-size:1.8rem;
    max-width:40vw;
    margin:0;
    position: relative;
    top:7px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.task--comp-date{
    font-family: 'Inter', sans-serif;
    color:rgb(117, 117, 117);
    font-weight: 400;
    font-size:1rem;
    margin:3px 5px 0 0;
}
.task--tags{
    height:24px !important;
}
.task--comp-info-box{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap:5px;
    margin:0 0 10px 0;
    max-width:100%;
}
.task--comp-priority{
    display: inline;
    font-family: 'Inter', sans-serif;
    color:rgb(62, 62, 62) !important;
    background-color: rgb(200, 199, 199);
    font-weight: 400;
    padding:2px 12px 2px 12px;
    margin: 0 5px;
    height:20px;
    border-radius: 3px;
}
.task--comp-popup{
    flex: 0 0 100%;
    position: relative;
}
.task--comp-desc{
    font-family: 'Inter', sans-serif;
    color:rgb(47, 47, 47);
    font-weight: 200;
    font-size:1rem;
    margin: 5px 0 30px 56px;
    width:50%;
}
.task--comp-trash{
    position: absolute !important;
    right:6px;
    bottom:6px;
}
ul{
    padding: 0;
}
li{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.task--no-task{
    text-align: center;
    font-family: 'Inter', sans-serif;
    color:rgb(166, 167, 179);
    font-weight: 600;
    font-size:2.5vw;
    padding-top:30%;
}
.task--remove-completed{
    text-align: center;
    font-family: 'Inter', sans-serif;
    color:rgb(166, 167, 179);
    font-weight: 500;
    text-decoration: underline;
    font-size:1rem;
    cursor: pointer;
}
@media only screen and (max-width: 768px){
    .task--bar{
        width:95vw;
        height:100%;
        margin:0px auto 0 auto;
    }
    .task--comp-title{
        max-width: 60vw;
    }
}