.task--bar{
    width:62vw;
    height:100%;
    margin-left:auto;
    padding:0;
}
.task--add-btn{
    background:linear-gradient(140deg, rgba(102,101,244,1) 0%, rgba(141,73,173,1) 91%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border:none;
    width:70px;
    height:70px;
    color:white;
    font-size: 3.4rem;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    margin:20px;
    bottom:0;
    right:0;
}

.task--comp-box{
    background-color: rgb(255, 255, 255);
    display:flex;
    width:95%;
    height:100px;
    margin:30px auto 30px auto;
    box-shadow: 0 10px 30px rgba(#414856, 0.05);
    border-radius: 15px;
}

.task--comp-descriptions{
    display: flex;
    flex-direction: column;
    height:50px;
}

.task--comp-checkbox{
    width:20px;
    margin:15px;
}
.task--comp-title{
    font-family: 'Inter', sans-serif;
    color:rgb(47, 47, 47);
    font-weight: 500;
    font-size:1.5rem;
    margin:2% 0 0 0;
    position: relative;
}
.task--comp-date{
    font-family: 'Inter', sans-serif;
    color:rgb(117, 117, 117);
    font-weight: 300;
    font-size:1rem;
    margin: 1.5% 2% 0 auto;
}
.task--comp-desc{
    font-family: 'Inter', sans-serif;
    color:rgb(47, 47, 47);
    font-weight: 200;
    font-size:1rem;
    margin:1% 0 0 0;
    position: relative;
    width:100%;
}
li{
    list-style: none;
}
.task--no-task{
    text-align: center;
    font-family: 'Inter', sans-serif;
    color:rgb(166, 167, 179);
    font-weight: 600;
    font-size:2.5rem;
    padding-top:40%;
}
