@media only screen and (max-width: 768px){
    .app{
        display:flex;
        flex-direction: column;
    }
    
}

.author{
    position: fixed;
    z-index:-2;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    align-self: center;
    margin:0;
    font-family: 'Inter', sans-serif;
    font-size:1em;
    color:rgb(184, 184, 184);
    font-weight: 300;
    user-select: none;
}